@model String

<div style="position:fixed; right:50px; bottom:50px;">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success text-white">
        <i class="bi bi-person"></i>  Dodaj
    </a>

</div>
