<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Doslo je do greske po kljucu pretrage</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Filmovi" asp-action="Index">Pocetna stranica</a>
    </div>
</div>