<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Vas nalog je kreiran uspesno</h2>
        <p>Mozete se ulogovati na svoj nalog preko Vasih podataka.</p>
        <hr />
        <p>Hvala Vam!</p>
    </div>
</div>
